PORT=3001
NODE_ENV=development
FRONTEND_URL=https://peak-academy.net

SUPABASE_URL=
SUPABASE_SERVICE_KEY=

DAILY_API_KEY=

PAYMOB_API_KEY=
PAYMOB_INTEGRATION_ID_CARD=
PAYMOB_INTEGRATION_ID_WALLET=
PAYMOB_HMAC_SECRET=
PAYMOB_IFRAME_ID=

RESEND_API_KEY=
